@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


ion-content{
    --background: #AA1E24;
}

ion-header {
    display: flex;
}

ion-slides {
    height: 90%;
    margin-top: 10%;
}

ion-button:first-child {
    margin-top: 70%;
    font-family: 'Roboto';
}

.container {
    border-style: solid;
    height: 100%;
    width: 85%;
    border-radius: 20px;
    border-width: 10px;
    border-color: white;
}

.container h1 {
    font-family: 'Roboto';
    color: white;
}