@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

ion-content{
    --background: #AA1E24;
}

ion-slides{
    height: 100%;
}

img{
    height: 400px;
    width: 400px;
}

ion-text {
    h1{font-family: 'Roboto', sans-serif;}
    
}