ion-content {
    --background: #AA1E24;
    text-align: center;
}

ion-card {
    height: 25vh;
    width: 35vw;
}

ion-card-title {
    font-size: large;
}


ion-thumbnail {
    margin-top: 5px;
    width: 100%;
    height: 100%;
}